<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/task
         http://www.springframework.org/schema/task/spring-task.xsd">


    <!-- Scan controllers & components -->
    <context:component-scan base-package="com.sdr" />
	<context:component-scan base-package="com.rt.sdr.error" />
    

    <!-- Enable Spring MVC -->
    <mvc:annotation-driven />

    <!-- ✅ STATIC RESOURCES (THIS FIXES 404) -->
    <mvc:resources mapping="/assets/**" location="/assets/" />
    <mvc:resources mapping="/uploads/**" location="/uploads/" />

    <!-- Allow default servlet (Tomcat) -->
    <mvc:default-servlet-handler />

	<!-- ✅ ENABLE SPRING SCHEDULING -->
	<task:annotation-driven />
	
    <!-- View Resolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- File Upload -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="5242880"/>
    </bean>
    
    <bean id="transactionManager"
      class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
</bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>
